In [1]:
import cx_Oracle

In [2]:
cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient_18_5")

In [3]:
from sqlalchemy import Column, Integer, String, DateTime, Float, Sequence,Index, create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [4]:
engine = create_engine('oracle://SYSTEM:vnpy@localhost:1521/XE', encoding='utf8', echo=True, max_identifier_length=128)

In [5]:
Base = declarative_base()
class DbBarData(Base):
    __tablename__ = 'DbBarData'
    id = Column(Integer, Sequence('bar_id_seq'),primary_key=True)
    symbol = Column(String(255))
    exchange = Column(String(255))
    datetime = Column(DateTime)
    interval = Column(String(255))   
    volume = Column(Float)
    open_interest = Column(Float)
    open_price = Column(Float)
    high_price = Column(Float)
    low_price = Column(Float)
    close_price = Column(Float)

In [6]:
Base.metadata.create_all(engine)

2021-04-06 18:18:10,236 INFO sqlalchemy.engine.base.Engine SELECT USER FROM DUAL
2021-04-06 18:18:10,240 INFO sqlalchemy.engine.base.Engine {}
2021-04-06 18:18:10,246 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60 CHAR)) AS anon_1 FROM DUAL
2021-04-06 18:18:10,247 INFO sqlalchemy.engine.base.Engine {}
2021-04-06 18:18:10,250 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR2(60 CHAR)) AS anon_1 FROM DUAL
2021-04-06 18:18:10,251 INFO sqlalchemy.engine.base.Engine {}
2021-04-06 18:18:10,254 INFO sqlalchemy.engine.base.Engine SELECT CAST('test nvarchar2 returns' AS NVARCHAR2(60)) AS anon_1 FROM DUAL
2021-04-06 18:18:10,256 INFO sqlalchemy.engine.base.Engine {}
2021-04-06 18:18:10,259 INFO sqlalchemy.engine.base.Engine select value from nls_session_parameters where parameter = 'NLS_NUMERIC_CHARACTERS'
2021-04-06 18:18:10,261 INFO sqlalchemy.engine.base.Engine {}
2021-04-06 18:18:10,268 INFO sqlalchemy.engine.base.Engine SELECT table_name FROM all_tables WHERE table_name = :name AND owner = :schema_name
2021-04-06 18:18:10,269 INFO sqlalchemy.engine.base.Engine {'name': 'DbBarData', 'schema_name': 'SYSTEM'}

In [7]:
DbBarData.__table__

Table('DbBarData', MetaData(bind=None), Column('id', Integer(), table=<DbBarData>, primary_key=True, nullable=False, default=Sequence('bar_id_seq', metadata=MetaData(bind=None))), Column('symbol', String(length=255), table=<DbBarData>), Column('exchange', String(length=255), table=<DbBarData>), Column('datetime', DateTime(), table=<DbBarData>), Column('interval', String(length=255), table=<DbBarData>), Column('volume', Float(), table=<DbBarData>), Column('open_interest', Float(), table=<DbBarData>), Column('open_price', Float(), table=<DbBarData>), Column('high_price', Float(), table=<DbBarData>), Column('low_price', Float(), table=<DbBarData>), Column('close_price', Float(), table=<DbBarData>), schema=None)

In [8]:
Database = sessionmaker(bind=engine)

In [9]:
db = Database()

In [10]:
from datetime import datetime
a=datetime.now()

In [11]:
one = DbBarData(symbol='IF888', exchange ='CFFEX', datetime =a, interval = '1m', volume = 0, open_interest =0, open_price = 10, high_price = 10, low_price =0.5, close_price = 0.5)

In [12]:
db.add(one)

In [13]:
b=db.query(DbBarData).filter_by(symbol='IF888').all()

2021-04-06 18:18:31,134 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-06 18:18:31,139 INFO sqlalchemy.engine.base.Engine INSERT INTO "DbBarData" (id, symbol, exchange, datetime, interval, volume, open_interest, open_price, high_price, low_price, close_price) VALUES (bar_id_seq.nextval, :symbol, :exchange, :datetime, :interval, :volume, :open_interest, :open_price, :high_price, :low_price, :close_price) RETURNING "DbBarData".id INTO :ret_0
2021-04-06 18:18:31,140 INFO sqlalchemy.engine.base.Engine {'symbol': 'IF888', 'exchange': 'CFFEX', 'datetime': datetime.datetime(2021, 4, 6, 18, 18, 29, 541512), 'interval': '1m', 'volume': 0.0, 'open_interest': 0.0, 'open_price': 10.0, 'high_price': 10.0, 'low_price': 0.5, 'close_price': 0.5, 'ret_0': <cx_Oracle.Var of type DB_TYPE_VARCHAR with value [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, Non ... (51 characters truncated) ... None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]>}
2021-04-06 18:18:31,145 INFO sqlalchemy.engine.base.Engine SELECT "DbBarData".id AS "DbBarData_id", "DbBarData".symbol AS "DbBarData_symbol", "DbBarData".exchange AS "DbBarData_exchange", "DbBarData".datetime AS "DbBarData_datetime", "DbBarData".interval AS "DbBarData_interval", "DbBarData".volume AS "DbBarData_volume", "DbBarData".open_interest AS "DbBarData_open_interest", "DbBarData".open_price AS "DbBarData_open_price", "DbBarData".high_price AS "DbBarData_high_price", "DbBarData".low_price AS "DbBarData_low_price", "DbBarData".close_price AS "DbBarData_close_price"
FROM "DbBarData"
WHERE "DbBarData".symbol = :symbol_1
2021-04-06 18:18:31,147 INFO sqlalchemy.engine.base.Engine {'symbol_1': 'IF888'}

In [14]:
for instance in db.query(DbBarData).order_by(DbBarData.datetime):
    print(instance.datetime)

2021-04-06 18:18:32,581 INFO sqlalchemy.engine.base.Engine SELECT "DbBarData".id AS "DbBarData_id", "DbBarData".symbol AS "DbBarData_symbol", "DbBarData".exchange AS "DbBarData_exchange", "DbBarData".datetime AS "DbBarData_datetime", "DbBarData".interval AS "DbBarData_interval", "DbBarData".volume AS "DbBarData_volume", "DbBarData".open_interest AS "DbBarData_open_interest", "DbBarData".open_price AS "DbBarData_open_price", "DbBarData".high_price AS "DbBarData_high_price", "DbBarData".low_price AS "DbBarData_low_price", "DbBarData".close_price AS "DbBarData_close_price"
FROM "DbBarData" ORDER BY "DbBarData".datetime
2021-04-06 18:18:32,582 INFO sqlalchemy.engine.base.Engine {}
2021-04-06 18:18:29.541512