import cx_Oracle

cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient_18_5")

In [1]:
from sqlalchemy import Column, Integer, String, DateTime, Float, Sequence,Index, create_engine, TIMESTAMP, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [2]:
engine = create_engine('oracle://SYSTEM:vnpy@localhost:1521/XE', encoding='utf8', echo=True, max_identifier_length=128)

In [3]:
Base = declarative_base()
class DbBarData(Base):
    __tablename__ = 'DbBarData'

    symbol = Column(String(255), primary_key=True)
    exchange = Column(String(255), primary_key=True)
    datetime = Column(DateTime, primary_key=True)
    interval = Column(String(255), primary_key=True)

    volume = Column(Float)
    open_interest = Column(Float)
    open_price = Column(Float)
    high_price = Column(Float)
    low_price = Column(Float)
    close_price = Column(Float)


class DbTickData(Base):
    __tablename__ = 'DbTickData'

    symbol = Column(String(255), primary_key=True)
    exchange = Column(String(255), primary_key=True)
    datetime = Column(TIMESTAMP, primary_key=True)

    name = Column(String(255))
    volume = Column(Float)
    open_interest = Column(Float)
    last_price = Column(Float)
    last_volume = Column(Float)
    limit_up = Column(Float)
    limit_down = Column(Float)

    open_price = Column(Float)
    high_price = Column(Float)
    low_price = Column(Float)
    pre_close = Column(Float)

    bid_price_1 = Column(Float)
    bid_price_2 = Column(Float)
    bid_price_3 = Column(Float)
    bid_price_4 = Column(Float)
    bid_price_5 = Column(Float)

    ask_price_1 = Column(Float)
    ask_price_2 = Column(Float)
    ask_price_3 = Column(Float)
    ask_price_4 = Column(Float)
    ask_price_5 = Column(Float)

    bid_volume_1 = Column(Float)
    bid_volume_2 = Column(Float)
    bid_volume_3 = Column(Float)
    bid_volume_4 = Column(Float)
    bid_volume_5 = Column(Float)

    ask_volume_1 = Column(Float)
    ask_volume_2 = Column(Float)
    ask_volume_3 = Column(Float)
    ask_volume_4 = Column(Float)
    ask_volume_5 = Column(Float)


class DbBarOverview(Base):
    __tablename__ = 'DbBarOverview'

    symbol = Column(String(255), primary_key=True)
    exchange = Column(String(255), primary_key=True)
    interval = Column(String(255), primary_key=True)
    count = Column(Integer)
    start = Column(DateTime)
    end = Column(DateTime)

In [4]:
Base.metadata.create_all(engine)

2021-04-09 16:48:54,808 INFO sqlalchemy.engine.base.Engine SELECT USER FROM DUAL
2021-04-09 16:48:54,811 INFO sqlalchemy.engine.base.Engine {}
2021-04-09 16:48:54,815 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60 CHAR)) AS anon_1 FROM DUAL
2021-04-09 16:48:54,818 INFO sqlalchemy.engine.base.Engine {}
2021-04-09 16:48:54,821 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR2(60 CHAR)) AS anon_1 FROM DUAL
2021-04-09 16:48:54,823 INFO sqlalchemy.engine.base.Engine {}
2021-04-09 16:48:54,826 INFO sqlalchemy.engine.base.Engine SELECT CAST('test nvarchar2 returns' AS NVARCHAR2(60)) AS anon_1 FROM DUAL
2021-04-09 16:48:54,828 INFO sqlalchemy.engine.base.Engine {}
2021-04-09 16:48:54,830 INFO sqlalchemy.engine.base.Engine select value from nls_session_parameters where parameter = 'NLS_NUMERIC_CHARACTERS'
2021-04-09 16:48:54,832 INFO sqlalchemy.engine.base.Engine {}
2021-04-09 16:48:54,839 INFO sqlalchemy.engine.base.Engine SELECT table_name FROM all_tables WHERE table_name = :name AND owner = :schema_name
2021-04-09 16:48:54,841 INFO sqlalchemy.engine.base.Engine {'name': 'DbBarData', 'schema_name': 'SYSTEM'}
2021-04-09 16:48:54,846 INFO sqlalchemy.engine.base.Engine SELECT table_name FROM all_tables WHERE table_name = :name AND owner = :schema_name
2021-04-09 16:48:54,848 INFO sqlalchemy.engine.base.Engine {'name': 'DbTickData', 'schema_name': 'SYSTEM'}
2021-04-09 16:48:54,852 INFO sqlalchemy.engine.base.Engine SELECT table_name FROM all_tables WHERE table_name = :name AND owner = :schema_name
2021-04-09 16:48:54,855 INFO sqlalchemy.engine.base.Engine {'name': 'DbBarOverview', 'schema_name': 'SYSTEM'}

In [5]:
DbBarData.__table__

Table('DbBarData', MetaData(bind=None), Column('symbol', String(length=255), table=<DbBarData>, primary_key=True, nullable=False), Column('exchange', String(length=255), table=<DbBarData>, primary_key=True, nullable=False), Column('datetime', DateTime(), table=<DbBarData>, primary_key=True, nullable=False), Column('interval', String(length=255), table=<DbBarData>, primary_key=True, nullable=False), Column('volume', Float(), table=<DbBarData>), Column('open_interest', Float(), table=<DbBarData>), Column('open_price', Float(), table=<DbBarData>), Column('high_price', Float(), table=<DbBarData>), Column('low_price', Float(), table=<DbBarData>), Column('close_price', Float(), table=<DbBarData>), schema=None)

In [6]:
DbTickData.__table__.drop(engine)
DbBarData.__table__.drop(engine)
DbBarOverview.__table__.drop(engine)

2021-04-09 16:48:59,961 INFO sqlalchemy.engine.base.Engine
DROP TABLE "DbTickData"
2021-04-09 16:48:59,963 INFO sqlalchemy.engine.base.Engine {}
2021-04-09 16:49:00,441 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-09 16:49:00,443 INFO sqlalchemy.engine.base.Engine
DROP TABLE "DbBarData"
2021-04-09 16:49:00,445 INFO sqlalchemy.engine.base.Engine {}
2021-04-09 16:49:00,480 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-09 16:49:00,483 INFO sqlalchemy.engine.base.Engine
DROP TABLE "DbBarOverview"
2021-04-09 16:49:00,485 INFO sqlalchemy.engine.base.Engine {}
2021-04-09 16:49:00,520 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
Database = sessionmaker(bind=engine)

In [8]:
db = Database()

In [ ]:
from datetime import datetime
a=datetime.now()

In [ ]:
one = DbBarData(symbol='IF888', exchange ='CFFEX', datetime =a, interval = '1h', volume = 0, open_interest =0, open_price = 0, high_price = 10, low_price =0.5, close_price = 0.5)

In [ ]:
one = DbBarOverview(symbol='IF888', exchange ='CFFEX', interval = '1m', count=10, start=a,end=a)

In [ ]:
db.merge(one)
db.commit()

In [ ]:
b=db.query(DbBarData).filter_by(exchange='CFFEX').all()

In [ ]:
(b[0].datetime)

In [ ]:
count = db.query(DbTickData).filter(
            DbTickData.exchange == 'BINANCE'
        ).delete()

db.commit()

In [ ]:
for instance in db.query(DbBarData).order_by(DbBarData.datetime):
    print(instance.interval)

In [ ]:
db.rollback()

In [ ]:
from pytz import utc  
from pytz import timezone  
from datetime import datetime  

cst_tz = timezone('Asia/Shanghai')  
utc_tz = timezone('UTC')  

now = datetime.now().replace(tzinfo=cst_tz)

In [ ]:
now

In [ ]:
len(b)